body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

#workExperience,
#education {
  background-color: black;
  color: white;
}

#projects{
  background-color: #1199c3;
  color: white;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 1% 5% 1% 5%;
}

.school,
.company {
  display: block;
  color: white;
}

.project {
  display: block;
}

.h2-black {
  color: black;
}

h1 {
  font-size: 40px;
  color: white;
  line-height: 48px;
  display: inline;
  font-family: "Rock Salt",cursive;
}

h2 {
  font-family: "Rock Salt",cursive;
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-family: "Rock Salt",cursive;
  font-style: italic;
  font-size: 20px;
  color: white;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}
/*navbar from W3C example http://www.w3schools.com/css/css_navbar.asp*/
.my-navbar {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
}

.nav-li {
  display: inline;
}

.navbar-link,
.btn {
  display: inline-block;
  width: 24%;
  height: 40px;
  font-family: "Lato",sans-serif;
  vertical-align: middle;
  background-color: #98bf21;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  width: 24%;
  font-weight: bold;
  color: #fff;
  background-color: #98bf21;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-link:hover,
.navbar-link:active,
.btn:hover {
  background-color:  #7a991a;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: white;
  line-height: 21px;
}

a {
  color: #black;
  text-decoration: none;
  margin-top: 10px;
  display: inline;
}

.welcome-message {
  font-size: 18px;
  font-family: "Rock Salt",cursive;
  padding-left: 20%;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  padding: 3% 0 0 50%;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #1199c3;
}

#role{
  padding-left: 5%;
  font-size: 2em;
  font-family: "Rock Salt",cursive;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding: 0 0 5% 0;
    background-color: #1199c3;;
}
.biopic{
  padding-right: 5%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*grow feature used from here: https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/*/
.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  border: .5em solid black;
  cursor:pointer;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
